<footer id="footer">
    <div id="order-footer">

        <ul id="about">

            <h4>
                <div class="footer-list">About us </div><i class="fas fa-chevron-right  toggle"
                    clickToDisplay="chevron"></i>
            </h4>

            <div class="unpack-content">
                <img src="/public/img/foddiesLogo.png" alt="Logo foodies">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, minima at. Quaerat quos repellat
                    consequuntur labore commodi rerum architecto, nisi quasi voluptate similique laboriosam modi
                    ullam maxime magni aliquam in?</p>
            </div>

        </ul>
        <ul id="contact-us">
            <h4>
                <div class="footer-list">Contact us</div><i class="fas fa-chevron-right toggle "
                    clickToDisplay="chevron"></i>
            </h4>
            <div class="unpack-content">
                <ul class="contact-footer ">
                    <li class="phone">
                        <a href="tel:+053-623-0000"><i class="fas
                                    fa-phone-alt"></i>053-000-0000</a>
                    </li>
                    <li class="mail">
                        <a href="mailto:foodies@gmail.com">
                            <i class="fas fa-envelope"></i>foodies@gmail.com</a>
                    </li>
                    <li>
                        <a href="https://goo.gl/maps/sCCawes9PhDVwoeK6"><i class="fas fa-map-marker-alt"></i>Rue
                            Ole
                            Hagardom 17,Ashkelon</a>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3396.4807387192614!2d34.552986015153735!3d31.648064881327524!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15029ce24e200241%3A0x3a074d015e92e489!2sOlei%20HaGardom%2017%2C%20Ashkelon!5e0!3m2!1sfr!2sil!4v1601038299444!5m2!1sfr!2sil"
                            style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" width="100%"
                            height="200px" frameborder="0"></iframe>
                    </li>
                </ul>
            </div>
        </ul>
        <ul id="social">
            <li class="facebook"><a href="#"><span class="iconify" data-icon="cib:facebook"
                        data-inline="false"></span></a></li>
            <li class="instagram"><a href="#"><span class="iconify" data-icon="entypo-social:instagram-with-circle"
                        data-inline="false"></span></i></a></li>
            <li class="twitter"><a href="#"><span class="iconify" data-icon="entypo-social:twitter-with-circle"
                        data-inline="false"></span></a></li>
            <li class="youtube"><a href="#"><span class="iconify" data-icon="entypo-social:youtube-with-circle"
                        data-inline="false"></span></a></li>
        </ul>
        <p class="small">Mentions legales - &#169 2021 Foodies </p>
    </div>
</footer>