<div id="shadow-calc" class="left none">
    <i class="fas fa-times toggle" clickToDisplay="cross"></i>
    <div id="lateral-menu" class="hidden side">
        <div class="DSN none">
            <img src="/public/img/foddiesLogo.png" alt="logo Foodies">
            <div class="sep"></div>
            <ul class="member-side">
                <li>
                    <!--
                    <h4> <i class="fas fa-chevron-right toggle" clickToDisplay="chevron"></i>Sign in</h4>
                    <form class="sign-in unpack-content" action="/" method="POST">
                        <div class="text">
                            <input type="text" id="account" name="username" placeholder="Username">
                        </div>
                        <div class="text">
                            <input type="password"  id="pass" name="pass" placeholder="Password">
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" name="stayConnected"cid="letMeSigned">
                            <label for="letMeSigned">Stay connected</label>
                        </div>
                        <input type="hidden" id="custId" name="isMobile" value="true">
                        <button type="submit" class="black-button">Submit</button>
                    -->
                    <input type="button" class="black-button" onclick="location.href='/login';" value="Login" />
                    <div class="sep"></div>
                    <h4>New's on Foodies?</h4>
                    <button onclick="location.href='/register'" type="button" class="black-button">Register</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
</script>
<nav class="nav">
    <div class="left-part">
        <div class="full-nav">
            <div class="menu">
                <a href="/login">Login</a>
            </div>
            <div class="menu">
                <a href="/register">Register</a>
            </div>
        </div>
        <i class="fas fa-bars toggle" clickToDisplay="bars"></i>
    </div>
    <a class="nav-logo" href="/"><img src="/public/img/foddiesLogo.png" alt="Logo foodies"></a>
    <div class="right-part">
        <div class="full-nav">
            <div class="menu">
                <a href="#">Search</a>
                <div class="submenu search">
                    <div class="input-search">
                        <input type="text" placeholder="I search">
                    </div>
                    <div class="search-response">

                    </div>
                </div>

            </div>
        

        <div class="menu">
            <a href="#">Cart</a>
            <div class="submenu cart">
                <h4 class="titleMenuCart">Your Cart </h4>
                <div class="sep"></div>
                <!--    <p class="empty-cart">Empty cart</p> -->
                <div class="cartItem">
                    <div class="cartImgItem" style="background:url('/public/img/burger/burger1.jpg');"></div>
                    <ul class="cartContent">
                        <li><span class="bold">my super item</span></li>
                        <li class="CartDesc"><span class="bold ">Desc : </span> Lorem, ipsum dolor sit amet </li>
                        <li><span class="bold">Quantity: </span>1</li>
                        <li><span class="bold">TOTAL : </span> 50$</li>
                    </ul>
                </div>
                <div class="sep"></div>
                <div class="cartItem">
                    <div class="cartImgItem" style="background:url('/public/img/burger/burger1.jpg');"></div>
                    <ul class="cartContent">
                        <li><span class="bold">my super item</span></li>
                        <li class="CartDesc"><span class="bold ">Desc : </span> Lorem, ipsum dolor sit amet </li>
                        <li><span class="bold">Quantity: </span>1</li>
                        <li><span class="bold">TOTAL : </span> 50$</li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </div>


    <i class="fas fa-search toggle" clickToDisplay="navIcon"></i>
    <div class="submenu search unpack-content">
        <div class="input-search">
            <input type="text" placeholder="I search"></i>
        </div>
        <div class="search-response">

        </div>
    </div>


    <div class="shop ">
        <i class="fas fa-shopping-cart icone-shop toggle" clickToDisplay="navIcon"></i><span
            class="counter-shop">2</span>
        <div class="submenu cart unpack-content">
            <h4 class="titleMenuCart">Your Cart </h4>
            <div class="sep"></div>
            <p class="empty-cart">Empty cart</p>
            <!--
                   <div class="cartItem">
                    <div class="cartImgItem" style="background:url('/public/img/burger/burger1.jpg');"></div>
                    <ul class="cartContent">
                        <li><span class="bold">my super item</span></li>
                        <li class="CartDesc"><span class="bold ">Desc : </span> Lorem, ipsum dolor sit amet </li>
                        <li><span class="bold">Quantity: </span>1</li>
                        <li><span class="bold">TOTAL : </span> 50$</li>
                    </ul>
                </div>
                <div class="sep"></div>
                <div class="cartItem">
                    <div class="cartImgItem" style="background:url('/public/img/burger/burger1.jpg');"></div>
                    <ul class="cartContent">
                        <li><span class="bold">my super item</span></li>
                        <li class="CartDesc"><span class="bold ">Desc : </span> Lorem, ipsum dolor sit amet </li>
                        <li><span class="bold">Quantity: </span>1</li>
                        <li><span class="bold">TOTAL : </span> 50$</li>
                    </ul>
                </div>
               -->
        </div>
    </div>
    </div>
</nav>