body{
    position: relative;
    background: url("/public/img/bg-register.webp") no-repeat center fixed;
    background-size: cover;
    color: white!important;
    padding: 0;
    margin: 0;
}
#shadow-calc{
    position: fixed;
    z-index: 1;
    top: 0;left: 0;right: 0;bottom: 0;
    background-color: rgba(0, 0, 0, 0.80);
}
h2{
    text-align: center;
}
.contain-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 2;
    padding-top: 20px;
    width: 80%;
    height: 100%;
    max-width: 330px;
    margin:0 auto;
}
.contain-form * {
    margin: 10px 0;
}
form{
    display: flex;
    flex-direction: column;
}
.body{
    font-family: 'Roboto',cursive!important;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
*{
    box-sizing: border-box;
}
.header,.footer{
    margin: 0;
    background-color: #5b5a5a;
    position: relative;
    z-index: 2;
}
.none{
    display: none!important;
}
.sep{
    border-top: 1px solid #bdbdbd81;
    margin:5px 0;
}
.black-button{
   
    width: 100%;
    font-weight: normal;
    margin: 10px auto;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1em;
    display: block;
    color: white;
    background-color: black;
    border: none;
    padding: 15px;
}
.hidden{
    overflow: hidden!important;
    padding: 0!important;margin: 0!important;
    
}
.hidden.side{
    width: 0!important;
}
.hidden.bottom{
    height: 0!important;
}
.none{
    display: none;
}
.fixed{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
}
.down{
    transform: rotate(90deg);
}

#footer{
    
    z-index: 2;
  
}
@media only screen and  (min-width:1000px){
    .nav{
        font-size: 1.2em;
    }
}