#shadow-calc{
    position: fixed;
    top: 0;bottom: 0;left: 0;right: 0;
    z-index: 100;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.363);
}

#lateral-menu{
    background-color: #fff;
    width: 70%;
    max-width:300px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 10px;
    overflow: hidden;
    font-size: 1.0em;
    transition: all 0.5s ease;
}
#lateral-menu img{
    width:70%;
}
.fa-chevron-right{
    transition: all 1s ease ;
}
#shadow-calc.left .fa-times{
    position: absolute;
    right: 5px;
    font-size:200%;
    padding: 5px;
    height: auto;
    cursor: pointer;
    color: white;
}
.member-side{
    display: flex;
    flex-direction: column;
}
.member-side h4 i{
    padding: 5px;
    cursor: pointer;
}
.unpack-content{
    max-height: 500px!important;
    
}
.hidden{
    overflow: hidden!important;
    padding: 0!important;margin: 0!important;
    
}
.hidden.side{
    width: 0!important;
}
.hidden.bottom{
    height: 0!important;

}
.none{
    display: none!important;
}
